---
import UnfoldIcon from "../Icons/UnfoldIcon.astro";
---

<span
	class="inline-flex items-center justify-center p-1 mr-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-700 cursor-pointer transition-colors"
	title="Expand all"
>
	<UnfoldIcon/>
</span>
